/* font */
* {
    font-family: 'Roboto', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* nav bar iniziale */

nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   

}

.logo{
    height: 35px;
}

nav li,a{
    list-style: none;
    display: inline;
    margin:0 5px;
    font-size: 14px;
    color:#1C325F;
    text-decoration: none;
}

li i{
    margin-left: 2px;
}

#sign_up{
    border: 1px solid rgb(91, 101, 194);
    padding:4px 14px;
    border-radius: 5px;
    color:rgb(89, 98, 179);
}

/* set nav bar desktop */
@media  screen and (max-width:767px) {
    nav ul {
        display:none;
    }
}

/* jumbotron con immagine di sfondo */
.jumbotron{
    background-image:url(/digital_ocean/img/bg-banner-home.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    
    margin-top:12px;
}

/* presentazione sito, titolo e paragrafo */
.presentazione{
    color:white;
    margin:50px auto;
}

.presentazione h1 {
    font-size: 60px;
}
.presentazione p{
    font-size: 20px;
}

/* blocco per la registrazione utente */
.registrazione{
   background-color: white;
    margin-top: 40px;
    border-radius: 8px;
    text-align: center;
    padding: 25px 5px;
    display: flex;
    flex-direction: column;
}

.registrazione h2{
    color:#1C325F;
    font-size: 32px;
    font-weight:normal;
}
.registrazione h3{
    color:rgb(89, 98, 179) ;
    font-size: 30px;
}
/* caselle inserimento mail e password */
.casella{
    width: 100%;
    height: 35px;
    border:0,8px;
    margin:5px 1px;
    border-style:solid;
    border-radius: 6px;
    padding: 2px 3px;
}
/* pulsanti */
.account_botton{
    height: 35px;
    margin:2px;
    border-radius:6px;
    padding:10px;
    background-color: rgb(78, 78, 218);
    color: white;
}

.sign_up{
    color:#1C325F;
    box-shadow:2px 2px lightgray;
    border-radius: 6px;
    height: 35px;
    padding: 10px 25px 5px 10px;
    margin:2px;
    text-align: center;
    margin-bottom: 15px;
}

.registrazione img{
    width: 20px;
    height: 20px;
    float: left;
    margin-left:0px;
}

.registrazione span{
    font-size: 14px;
    color:#1C325F;
    
}
.registrazione >span> a{
    text-decoration: underline;
    color:rgb(60, 136, 180);
}

/* partners */
.partners_block{
    
    width: 100%;
    background-color:rgb(233, 216, 216);
    text-align: center;
}

.partners_block h5{
    text-transform: uppercase;
    color: rgb(78, 78, 218);
    padding-top: 40px;
}

.partners img{
    width: 100px;
    
}
.partners li{
    list-style: none;
    display: inline;
}
.partners h6, i{
    color:rgb(78, 78, 218);
}